<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nareumserver.mapper.ImageMapper">

  <select id="findByIds" resultType="com.nareumserver.domain.Image">
    SELECT ID, ORIGINAL_NAME, URL, S3_KEY, CATEGORY, EXTENSION, CREATED_AT, UPDATED_AT
    FROM image
    WHERE id IN
    <foreach collection="list" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <select id="getImageList" resultType="com.nareumserver.domain.Image">
    SELECT ID, ORIGINAL_NAME, URL, CATEGORY, EXTENSION, CREATED_AT, UPDATED_AT
    FROM image
    WHERE category =  #{category}
  </select>
</mapper>