<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nareumadmin.mapper.FileMapper">

  <insert id="upload"  useGeneratedKeys="true" keyProperty="id">
    INSERT INTO file
    (ID, ORIGINAL_NAME, EXTENSION, URL, CATEGORY, CREATED_AT, UPDATED_AT)
    VALUES (#{id}, #{originalName}, #{extension}, #{url}, #{category}, #{createdAt},
            #{updatedAt})
  </insert>
</mapper>